[Desktop Entry]
Icon=/usr/share/icons/Adwaita/512x512/legacy/applications-internet.png
Actions=AddKey;
Type=Service

[Desktop Action AddKey]
Icon=gcr-key-pair
Name=Add Identity
Exec=test
